
/* Your CSS Code here. */

table, th, td{
	border:1px solid black;
	border-collapse: collapse;
	text-align:right;
	width:600px;
	font-family: calibri;
}

th{
	text-align:left;
}

.firstCol{
	text-align:left;
}

.row1{
	background-color:#C0504D;
	color:white;
}

.row2{
	background-color:#DA9694;
	color:white;
}

.row3{
	background-color:#F2DCDB;
}

.row4{
	background-color:#D9D9D9;
}